@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.nav{
    display: flex;
    gap: 70px;
    left: 20px;
    height: 80px;
    width: 100%;
    align-items: center;
    position: absolute;
}
.nav li{
    list-style: none;
    
}
.nav a{
    
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(199, 172, 21, 0.611);
}
.nav a:hover{
    color: #e1f109;
    cursor: pointer;
}
.left, .right{
    height: 100vh;
}
.left{
    display: flex;
    align-items: center;
    background: rgb(122, 46, 180);
    width: 70%;
}
.right{
    
    background: rgb(228, 93, 105);
    width: 30%;
}
.icons{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.icons .fa-brands{
    font-size: 22px;
    color: #18171882;
    padding: 12px 12px;
    
}
.fa-twitter:hover{
    color:whitesmoke;
    cursor: pointer;
}

.fa-linkedin:hover{
    color:whitesmoke;
    cursor: pointer;
}
.fa-github:hover{
    color:whitesmoke;
    cursor: pointer;
}
.fa-instagram:hover{
    color:whitesmoke;
    cursor: pointer;
}
.content{
    color: rgb(168, 160, 12);
    margin-left: 50px;
}
.content h2{
    font-size: 42px;
    color: lightcoral;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content p{
    width: 550px;
}
.content b{
    color: lightcoral;
}
.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 70%;

    transform: translate(-50%,-50%);
}
.circle:nth-child(1){
    background: linear-gradient(260deg, rgb(199, 64, 112) 45%, rgb(116, 34, 193) 55%);
    width: 38rem;
    
}
.circle:nth-child(2){
    width: 30rem;
    background-image: url(p1.jpg);
    background-size: cover;
}
#About{
    
    height: 100vh;
    width: 100%;
    background-color: rgb(57, 56, 56);
    color: rgba(148, 146, 146, 0.378);
}
#About h2{
         display: flex;
         justify-content: center;
         margin-top: 5px;
         padding-top: 5px;
         color: rgba(141, 107, 4, 0.584);
         font-size: 62px;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.personal{
    gap: 20px;
    padding-left: 100px;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 60px;
}
.personal h3{
    font-size: 48px;
    margin-bottom: 20px;
    color: rgba(141, 107, 4, 0.584)
}
.personal .N{
    font-size: 22px;
    
}
.personal .E{
    font-size: 22px;
    margin-top: 13px;
}
.personal .A{
    font-size: 22px;
    margin-top: 13px;
}
.personal .C{
    font-size: 22px;
    margin-top: 13px;
    
}.personal .L{
    font-size: 22px;
    margin-top: 13px;
}

#skills{
    
    margin-top: 250px;
    transform: translate(-10%,-180%);
    margin-left: 400px;
}
#skills h2{
    margin-left: 440px;
    font-size: 48px;
}

.ski p{
    margin-left: 500px;
}
.ski .ht{
    font-size: 20px;
    margin-top: 40px;
    margin-left: 570px;
}
.ski .cs{
    font-size: 20px;
    margin-top: 13px;
    margin-left: 570px;
}
.ski .cp{
    font-size: 20px;
    margin-top: 13px;
    margin-left: 570px;
}
.ski .py{
    font-size: 20px;
    margin-top: 13px;
    margin-left: 570px;
}
.ski .c{
    font-size: 20px;
    margin-top: 13px;
    margin-left: 570px;
}
.ski i{
    margin-left: 10px;
    color: rgb(148, 40, 40);
}
#Project{
     
    height: 100vh;
    width: 100%;
    background-color: rgb(37, 37, 37);
    color: rgb(37, 32, 32);
    
}
#Project h2{
    
     text-align: center;
     font-size: 62px;
     color: rgb(176, 151, 10);
     margin-top: 5px;
     padding-top: 5px;
}
#Project p{
    text-align: center;
    font-size: 24px;
    font-style: italic;
    margin-top: 54px;
    color: rgb(167, 90, 90);
}
.cot{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 140px;
}
.Net{
    width: 200px;
    height: 200px;
    background-image: url(net1.jpeg);
    background-size: cover;
    border: 6px solid rgba(91, 78, 78, 0.734);
}
.Amz{
    width: 200px;
    height: 200px;
    background-image: url(amazon-logo-2.png);
    background-size: cover;
    border: 6px solid rgba(91, 78, 78, 0.734);
}
.por{
    width: 200px;
    height: 200px;
    color: rgb(37, 32, 32);
    background-image: url(por1.jpg);
    background-size: cover;
    border: 6px solid rgba(91, 78, 78, 0.734);
}
.foot{
    height: 300px;
    margin-top: 4px;
    background-color: rgb(22, 20, 20);
    color: rgba(227, 219, 219, 0.86);
}
.foot h2{
    text-align: center;
    font-size: 62px;
    color: rgb(193, 98, 30);
}
.foot a{
    
    color: white;
    font-size: 20px;
    
}
.foot p{
    text-align: center;
}
.foot .em{
    margin-top: 20px;
}
.foot .co{
    margin-top: 30px;
}
.foot .ico{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    
}
.ico .fa-brands{
    padding: 12px 12px;
}
